{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h3><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h3>
{% endblock page_header %} 

{% block content %}

<div class="card mb-3">
  <h4 class="card-header">
    Edit entry: 
  </h4>
</div>
<form method="post" action="{% url 'learning_logs:edit_entry' entry.id %}" class="form">
  {% csrf_token %}
  {% bootstrap_form form show_label=False %}
  {% buttons %}
    <button name="submit" class="btn btn-primary">Save changes</button>
    <a class="btn btn-outline-danger" href="{% url 'learning_logs:delete_entry' entry.id %}">Delete entry</a>
    <a class="btn btn-outline-secondary" href="{% url 'learning_logs:topic' topic.id %}">Cancel</a>
  {% endbuttons %} 
  </form> 

{% endblock content %}
